.mainContainer {
  margin: 0 auto;
  padding: 1rem;
  max-width: 800px;
}

.login {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.login > span {
  padding: 0.2rem 0.4rem;
  font-size: 0.7rem;
}

.nes-container.wave {
  margin: 1rem 0;
}
